apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-service
  namespace: g3-ns
  labels:
    app: simple-service
spec:
  replicas: 3
  selector:
    matchLabels:
      app: simple-service
  template:
    metadata:
      labels:
        app: simple-service
    spec:
      containers:
      - name: nginx
        image: nginx:1.27
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
